.chat {
  background-color: #edeff4;
  // padding: 30px 20px;
  border-radius: 10px;
  width: 30vw;
  min-width: 500px;
  height: 70vh;
  display: flex;
  flex-flow: column nowrap;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    padding: 30px 20px 20px;
    border-bottom: 1px solid #ccc;
  }

  &__button {
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__title {
    flex-grow: 2;
  }

  &__main {
    padding: 10px;
    overflow-y: scroll;
    flex-grow: 2;
  }
}
