.chat {
  background-color: #edeff4;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    height: calc(100% - 90px);
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 768px) {
      flex-direction: row-reverse;
    }
  }

  &__container {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 2;
  }

  &__main {
    padding: 10px;
    overflow-y: scroll;
    flex-grow: 2;
  }
}
