.chat {
  background-color: #edeff4;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 100vw;
  height: 100vh;

  &__main {
    padding: 10px;
    overflow-y: scroll;
    flex-grow: 2;
  }
}
